<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNET_Core_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script>
        function LoadSoldier(id = null) {
            $.ajax({
                url: "/Missions/AddNewSoldier/" + id ?? "",
                type: "GET",
                success: function (e) {
                    $("#SoldierContainer").append(e);
                }
            });
        }

        $(document).on("click", "#btnPlus", function (e) {
            e.preventDefault();
            LoadAircraft();
        });

        $(document).on("click", "#btnDeleteCourse", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

        $(document).on("click", "#btnAdd", function (e) {
            e.preventDefault();
            LoadSoldier();
        });

        $(document).on("click", "#btnDeleteSoldier", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });
     </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASPNET_Core_Project</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark alert alert-primary m-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark alert alert-primary m-1" asp-area="" asp-controller="Ranks" asp-action="Index">Ranks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark alert alert-primary m-1" asp-area="" asp-controller="Soldiers" asp-action="Index">Soldiers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark alert alert-primary m-1" asp-area="" asp-controller="Aircraft" asp-action="Index">Aircraft</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link text-dark alert alert-primary m-1" asp-area="" asp-controller="Missions" asp-action="Index">Missions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark alert alert-primary m-1" asp-area="" asp-controller="Role" asp-action="AssignRole">Manage Role</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ASPNET_Core_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
