@{
    ViewData["Title"] = "Home Page";
}

<div class="row my-auto">
    <div class="col-8 m-auto">
        <div class="card my-auto">
            <div class="card-body text-center">
                <h1 class="display-4 w-100 font-weight-bold" style="font-size:5em;">Welcome</h1>
            </div>
            <div class="card-body alert alert-primary mx-5">
                <h2>This Project Includes following topics:</h2>
                <h5>=> ASP.NET Core Master Detail CRUD operation</h5>
                <h5>=> Authentication and Authorization</h5>
                <h5>=> Code First Approach</h5>
            </div>
        </div>
    </div>
    
</div>
