@model ASPNET_Core_Project.Models.AircraftEntryVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Aircraft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Aircraft" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="AircraftId" type="hidden"/>
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" type="text" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImagePath" type="hidden" />
                <input asp-for="ImageFile" class="form-control-file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

